h2{
    font-family:'Times New Roman', Times, serif;
    color: #570A57;
    font-size: larger;
    text-align: center;

}
div.game {
    display: grid;
    width: 50vw;
    height: 50vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 120px;
    height: 120px
  }
  
  .game-cell {
    width: 150px;
    height: 150px;
    border: 3px solid ;
    box-sizing: border-box;
  }
  
  .centre-half{

    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body{
    padding: 0;
    margin: 0;
  }